body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FCE8F;
  color: #333;
  text-align: center;
}

header {
  background-color: #6A0DAD;
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
}

h2 {
  color: #6A0DAD;
}

#temas, #contacto {
  background-color: #FFEB3B;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #6A0DAD;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #4B0082;
}
